<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <input id="sendButton" type="submit" value="login">
    <button id="outbutton">logout</button>
    <p id="result"></p>
</body>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function(){
		$("#sendButton").click(function(){
			$.ajax({
			    url:"http://127.0.0.1:8000/login/do_login/",
			    type:"get",
			    data:{"userId": "4124860", "userpassword":"980827"},
			    dataType: "json",
			    success:function(data){
			       alert(data.state)
			    }
			  });
		});
		$("#outbutton").click(function(){
		    $.ajax({
			    url:"http://127.0.0.1:8000/login/do_logout/",
			    type:"get",
			    data:{"userId": "4124860", "userpassword":"980827"},
			    dataType: "json",
			    success:function(data){
			       alert(data)
			    }
			  });
		});
	});
</script>
</html>