<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registPage</title>
</head>
<body>
    <input id="sendButton" type="submit" value="regist"/>
</body>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function(){
		$("#sendButton").click(function(){
			$.ajax({
			    url:"http://127.0.0.1:8000/login/do_regist/",
			    type:"get",
			    data:{"userId": "4124860", "userpassword":"980827", "username": "zj"},
			    dataType: "json",
			    success:function(data){
			       alert(data.state)
			    }
			  });
		});
	});
</script>
</html>