<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>{{ user_id }}</p>
    <button id="sendButton">button</button>
</body>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function(){
		$("#sendButton").click(function(){
			$.ajax({
			    url:"http://127.0.0.1:8000/user/4124860/materials",
			    type:"get",
			    data:{"str": "苏菲·玛索是法国独具个性、充满传奇色彩的女明星，她的成功、她的爱情选择都充分地体现着法兰西民族的个性。当有人问苏菲·玛索，她在片中常演出大胆激情场面时心态如何时，苏菲·玛索说，生活中本就充满了“爱”与“神秘”，我只是将人生片段带入电影中，不在乎裸露"},
			    dataType: "json",
			    success:function(data){
			       alert(data)
			    }
			  });
		});
	});
</script>
</html>